
<h3>All positions</h3>
<div class="positions-titles">
  <div class="container">
    <div class="row justify-content-between">
      <% @positions.each do |position| %>
        <div class="col-4">
          <%= link_to position_path(position) do %>
            <p><%= position.seniority %> <%= position.title %></p>
          <% end %>
        </div>
        <div class="col-4">
          <p><% position.skills.each do |skill| %>
            #<%= skill.name %>
          <% end %></p>
        </div>
        <div class="col-4">
          <p>
            <a data-toggle="collapse" href="#collapseExample<%= position.id %>" role="button" aria-expanded="false" aria-controls="collapseExample">
              <%= position.applications.count %> <%= position.applications.count == 1 ? 'applicant' : 'applicants' %>
            </a>
          </p>
          <div class="collapse" id="collapseExample<%= position.id %>">
            <div class="card card-body">
              <% position.applications.each do |application| %>
                <%= link_to candidate_path(application.candidate) do %>
                  <%= application.candidate.first_name %> <%= application.candidate.last_name %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= link_to "+ New position", new_position_path, class: "btn btn-primary"%>

