<table style="width:40%">
  <thead>
    <tr>
      <th>Candidate</th>
      <th>Positions applied</th>
    </tr>
  </thead>
  <tbody>
    <% @candidates.each do |candidate| %>
      <tr>
        <td>
          <%= link_to candidate_path(candidate) do %>
            <p><%= candidate.first_name %> <%= candidate.last_name %></p>
          <% end %>
        </td>
        <td>
          <% candidate.applications.each do |application| %>
            <p><%= link_to position_path(application.position) do %>
              <%= application.position.title %>
            <% end %></p>
          <% end %>
        </td>
        <td>
          <%= link_to candidate_applications_path(candidate) do %>
            <p>Go to open applications</p>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to "+ New candidate", new_candidate_path, class: "btn btn-primary"%>




