<h3><%= @candidate.first_name %> <%= @candidate.last_name %></h3>
<p>email: <%= @candidate.email %></p>
<p>LinkedIn: <%= @candidate.linkedin %></p>
<p><%= link_to "Back to all applicants", candidates_path %></p>
